@media only screen and (max-width: 431px) {
    
    body{
        margin: 10px;
    }
    
    #dateDiv{
        font-family: calibri;
        font-size: 14px; 
    }
    
    #clockDiv{
        display: none;
    }
       
    .container {
        margin: 0;
    }
    
    .bar{  
        height: 20px;
        background-color: #E4E4E4;
    }
    
    .contentHeadBar{  
    margin-top: 2px;
    }
    
    .left-column, .right-column {
        width: 100%;
        padding: 10px;
    }
    
    
    .left-column ul{
        margin-left: -20px;
    }
    .right-column ul{
        margin-left: -20px;
    }
    
    .right-column ul li:first-child {
        padding: 2px;
        border-radius: 0;
    }
    
    .descriptionTitle, .descriptionValue {
        font-family: calibri;
        font-size: 13px;
    }
    
    .titleCurriculum{
        font-size: 22px;
    }
    
    .descriptionValue{
    margin-left: 1px;
    display: block;
    }
            
    .hamburger-logo{
        width: 0;
    }
    
    .cv-logo{
        width: 0;
    }
    
    
    h2{ 
        width: 90%;
        float: none;
        font-size: 14px;
        padding: 2px;
        margin-bottom: 0;
    }
    
    div i.fa-user, div i.fa-briefcase, div i.fa-graduation-cap, div i.fa-file-certificate, div i.fa-lightbulb-gear {
        display: none; /* Nasconde tutti gli elementi <i> all'interno degli <h2> */
    }

        
}


@media screen and (min-width: 431px) and (max-width: 768px) {
    
    body{
        margin: 10px;
    }
    
    #dateDiv, #clockDiv{
        font-family: calibri;
        font-size: 14px; 
    }
    
    .container {
        margin: 0;
    }
    .left-column, .right-column {
        width: 100%;
        padding: 10px;   
    }
    
    .left-column ul{
        margin-left: -20px;
        
    }
    .right-column ul{
        margin-left: -20px;
    }
    
    .descriptionTitle, .descriptionValue {
        font-family: calibri;
        font-size: 13px;
    }
        
    .titleCurriculum{
        font-size: 22px;
    }
    
    
    .cv-logo{
        position: relative;
        width: 35px;
        float: none;
        bottom: 5px;
    }
    
    
    h2{ 
        width: 90%;
        height: 30px;
        float: none;
        font-size: 14px;
        margin-left: 0;
    }
        
    
    .left-column h2 div span {
        position: relative;
        top: 0;

    } 
    
    .right-column h2 div span {
        position: relative;
        top: 0;
       
    }
    
}


@media screen and (max-width: 1575px) {
    
    .right-column ul li:first-child span.descriptionValue {

        color: #616161;
        display: block;
        position: relative;
        top: 2px;
        left: -5px;        
}
    
    
}